@import "settings";

body {
    background-color: $color-bg;
}

.accord__item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accord__trigger {
    cursor: pointer;
    padding: 4px 4px 4px 8px;
    margin: 0;
    display: block;
    font-weight: bold;
    border: 1px solid #e4e4e4;
}

.accord__content {
    padding: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.accord__element:checked ~ .accord__content {
    max-height: 200px;
}

.accord__element {
    display: none;
}